@font-face {
  font-family:Copperplate-Gothic ;
  src: url('./font/Copperplate-Gothic-Std-30-BC.ttf');
}
* {
  font-family:Copperplate-Gothic;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */



}

body {
  overflow-x: hidden;
  background: #292d32;
  /* max-width: 360px;
  height: auto; */
  min-width: 360px;
  min-height: 100vh;
}

/* ---------------head nav----------------- */
nav {
  display: flex;
  justify-content:space-between ;

  align-items: center;
  min-height: 10vh;
  background-color: #7b39eb;

}

nav div {
  margin: 3vh;
}

.logo img {
  display: flex;
  height: 8vh;
}
/* ------------------menu acceuil----------------------- */
.nav-links li {
  list-style: none;
  opacity: 0;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #febc0c;
  transition: all 0.3s ease;
}
.nav-links {
  justify-content: space-around;
  position: absolute;
  border-right: 1px solid #7b39eb;
  border-bottom: 1px solid #7b39eb;
  border-bottom-right-radius: 10px;
  left: 40%;
  height: 50vh;
  top: 14vh;
  background: #292d32;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transform: translateX(-200%);
  transition: transform 0.5s ease-in;
  
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(-100%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* --------------------menu panier----------------------- */
.menu-panier li {
  opacity: 0;
  list-style: none;
  margin: 2rem;

}

.menu-panier a {
  color: aliceblue;
  text-decoration: none;
}

.menu-panier {
  border-left: 1px solid #7b39eb;
  border-bottom: 1px solid #7b39eb;
  border-bottom-left-radius: 10px;
  display: flex;
  position: absolute;
  right: 0px;
  height: 50vh;
  top: 14vh;
  background: #292d32;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
 
}
.panier p {
  font-size: 25px;
}
.panier{
 
  margin: 10px;
  display: block;
  cursor: pointer;
}
/* anime */
.menu-active{
  transform: translateX(0%);
}
@keyframes menuFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
  
}

/* ---------------main offre----------------- */

.img-offre {
  display: flex;
  width: auto;
  height: auto;
  /* position: relative; */
}

.img-offre img {
  border: 2px solid #292d32;
  width: 100%;
}

/* .text-offre {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-45%, -50%);
  font-size: smaller;
  color: #febc0c;
} */

/* ----------------------main meilleur vente-------------- */
.meilleur-vente {
  display: flex;
  display: grid;
 margin: 0 auto;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  width: 75%;

}


.vente-titre {

  color: #febc0c;
  background-color: #7b39eb;
  text-align: center;
  padding: 15px;

}

.vente {
  width: 100%;
 
  background-color: #7b39eb;
  border: 1px solid #7b39eb;
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  color: #febc0c;
  padding: 0.1rem;
}

.vente p {
  
  padding: 10px;
}

.vente img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* ----------------------selction modele ------------------------- */

.voiture {
  width: 100%;
  display: flex;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5rem;
  color: #292d32;
  margin-top: 1rem;
  background-color: #7b39eb;
}

.img-voiture:nth-child(1) {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  color: #febc0c;
  background-color: #7b39eb;
  border: none;
  padding: 1rem;
}

.img-voiture {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
  color: #7b39eb;

}
/* -------------------------footer--------------------------- */
footer {
  display: flex;
  justify-content: space-between;

  background-color: #7b39eb;
  margin-top: 5%;
  color: #febc0c;
  
}

.copy {
  margin: auto;
  display: flex;
  padding: 1rem;
  font-size: smaller;
}

.contact {
  display: flex;
  padding: 1rem;
  text-align: right;
  font-size: smaller;
}



